<div class="container mt-2">
    <h1 class="text-center mb-4 h2">فاکتورها</h1>

    <div class="text-end ">
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalId">
            افزودن فاکتور جدید
            <i class="bi bi-plus-circle"></i>
        </button>

    </div>

    <!-- Modal -->
    <div class="modal fade animate__animated animate__slideInUp animate__faster" id="modalId" tabindex="-1"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        افزودن فاکتور
                    </h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>

                <div class="modal-body p-0 ">
                    <div class="container-fluid">{{> factors/add-factor}}</div>
                </div>
            </div>
        </div>
    </div>



    <hr>

    <!-- Product Grid -->
    <div class=" row">
        <div class="table-responsive">
            {{#if factors.length}}
            {{#each factors}}
            <table class="table  table-hover table-sm table-light align-top ">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">شماره فاکتور</th>
                        <th scope="col">تاریخ ایجاد</th>
                        <th scope="col">تاریخ تایید</th>
                        <th scope="col">قیمت کل</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col" class="text-center">نمایش</th>
                        <th scope="col" class="text-center">تایید</th>
                        <th scope="col" class="text-center">لغو</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider table-light">
                    {{> factors/factor-row this}}
                </tbody>
            </table>
            {{/each}}
        </div>

        {{> pagination}} {{else}} <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <div class="text-center text-muted">
                <i class="bi bi-exclamation-circle fs-1"></i>
                <p class="mt-2 mb-0 fs-5 fw-light text-decoration-underline">
                    فاکتوری ثبت نشده است
                </p>
            </div>
        </div>
        {{/if}}
    </div>


</div>