<nav id="sidebar">

    <div class="sidebar-components">
        <ul class="components">
            <li class="active">
                <a href="/"><i class="bi bi-speedometer2 me-2"></i> داشبورد</a>
            </li>

            <li>
                <a href="/factors"><i class="bi bi-cart me-2"></i> فاکتورها</a>
            </li>

            <li>
                <a href="/products">
                    <i class="bi bi-box-seam me-2"></i> محصولات
                </a>

            </li>
            {{!-- <li>
                <a href="#productsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="bi bi-box-seam me-2"></i> محصولات
                </a>
                <ul class="collapse list-unstyled" id="productsSubmenu">
                    <li><a href="#"><i class="bi bi-list-check me-2"></i> All Products</a></li>
                    <li><a href="#"><i class="bi bi-plus-circle me-2"></i> Add New</a></li>
                    <li><a href="#"><i class="bi bi-tags me-2"></i> Categories</a></li>
                </ul>
            </li> --}}

            {{!--
            <li>
                <a href="#usersSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="bi bi-people me-2"></i> کاربران
                </a>
                <ul class="collapse list-unstyled" id="usersSubmenu">
                    <li><a href="#"><i class="bi bi-list-check me-2"></i> All Users</a></li>
                    <li><a href="#"><i class="bi bi-plus-circle me-2"></i> Add New</a></li>
                    <li><a href="#"><i class="bi bi-person-check me-2"></i> Roles</a></li>
                </ul>
            </li>


            <li>
                <a href="#"><i class="bi bi-graph-up me-2"></i> تحلیل</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-gear me-2"></i> تنظیمات</a>
            </li> --}}
        </ul>
    </div>
</nav>